@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.container{
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  background-image: url(../src/assets/background.jpg);
  background-size: cover;
  background-position: rigth;
  position: relative;
}

.tituloBioma{
  font-size: 3rem;
  text-align: center;  
  padding-top: 50px;
  margin: 0;
  line-height: 0.9;
  font-weigth: 700;
  color: #f5f5f5;
}

.swiperContainer{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mySwiper {
  width: 280px;
  height: 600px;
}

.swiper-slide {
  display: flex;
  flex-direction: collumn;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.imgsCardU{
  background-size: cover;
}

.insignias{
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #616161;
  gap: 15px;
  padding: 20px;
}

.insignias div{
  flex: 1;  
  display: flex;
  align-items: center;
  justify-content: center;
}


.modalErro{
  height: 100dvh;
  width: 100dvw;
  background-color: #22222295;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.cntModalNvl{
  height: 100dvh;
  width: 100dvw;   
  background-color: #22222295; 
  position: fixed;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contNivel{
  height: auto;
  width: 300px;
  background-color: #f0f0f0;
  padding: 25px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.contNivel div{
  width: 100%;
  display: flex;
  justify-content: space-around;
  aligns-items: center;
}

.contNivel button{
  font-weight: 800;
  font-size: 1.2rem;
  padding: 10px;
  text-align: center;
  background-color: #222222;
  color: #f1f1f1;
  border: none;
}

.contNivel p{
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
}

.erroContainer{
  width: 50dvw;
  padding: 10px;
  border-radius: 12px;
  background-color: #f5f5f5;
  color: #222222;  
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.erroContainer p{
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}

.erroContainer button{
  background-color: #222222;
  padding: 10px;
  color:#f5f5f5;
  position: fixed center;
}

.ttlBioma{
  margin-top: 15px;
  font-size: 4rem;
  color: #f1f1f1;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.containerCardsMenores{  
  width: 280px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../src/assets/backgroundPapiroClaro.jpg);
  background-size: cover;
}

.cardsContainerInside{
  width: 250px;
  height: 570px;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #222222;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;  
  box-shadow: inset 0px 0px 40px 2px rgba(0,0,0,0.70);
}

.cardsContainerInside > h2{
  font-weight: 400;
  font-size: 2.3rem;
  text-align: center;
  font-family: "Lilita One", sans-serif;  
  text-shadow: 0.1em 0.1em 0.2em black;
}

.cardsContainerInside > p{
  font-weight: 500;
  font-size: 0.9rem;  
  text-shadow: 0.1em 0.1em 0.2em black;
  text-align: center;
}

.modal{  
  position: fixed;
  z-index: 1;  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
  background-image: url(../src/assets/backgroundPapiroClaro.jpg);
  background-size: cover;
  background-color: #121525;
}

.dentroModal{
  width: 90%;
  height: 96%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  box-sizing: border-box;
}

.botaoModal{
  background-color: #f5f5f580;
  color: #222222;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  position: fixed;
  top: 2%;
  right: 5%;
  font-weight: bold;
  font-size: 1.2rem;
}

.descricaoBiomas{
  padding: 25px;  
  z-index: 2;
  position: relative;
}

.descricaoBiomas p{
  font-weight: 600;
  font-size: 1rem;
  text-align: justify;
}
.coor{
  min-width: 90vw;
  height: 70dvh;
  background: rgb(255,238,214);
  background: linear-gradient(0deg, rgba(255,238,214,1) 0%, rgba(255,238,214,1) 40%, rgba(252,252,252,0) 100%);
  position: fixed;
  bottom: 2%;
  border-radius: 30px;
}



.itemsDesc{
  margin-top: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.ttlItem{
  width: 100px;
  padding: 5px;
  padding-left: 15px;
  text-align: left;
  border-radius: 0 5px 5px 0;
  background-color: #222222;
  color: #f1f1f1;
}

.descItem{
  font-weight: 700;
  font-size: 1.2rem;
}

.subItem{
  font-weight: 500;
  font-size:1rem;
}

.containerPergunta{
  margin-top: 50px;  
  heigth: 100%;
  width: 90dvw;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
}

.containerPergunta h2{
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  color: #f1f1f1;
  text-shadow: 0.1em 0.1em 0.2em black
}

.containerPergunta form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.containerPergunta form input{
  font-size: 1.2rem;
  padding: 5px 15px;
}

.containerPergunta form button{
  font-size: 1.2rem;
  font-weight: 700;
  color: #222222;
  padding: 5px 15px;
  border: none;
}

.iptRespSelector{
  padding: 5px 50px;
  text-decoration: none;
  color: #222222;
  background-color: #fcfcfc;
  font-size: 1.2rem;
  font-weigth: 500;
  text-align: center;
}

.pantanalCardLock{
  background-image: url(../src/assets/pantanalLocked.png)
}
.pantanalCardOpen{
  background-image: url(../src/assets/pantanalUnlocked.png)
}
.pantanalLkd{
  background-image: url(../src/assets/pantanalLocked.png);
  background-size: cover;  
  box-shadow: inset 0px 0px 28px 1px rgba(0,0,0,0.80);
}
.pantanalUld{
  background-image: url(../src/assets/pantanalUnlocked.png);
  background-size: cover;
  background-position: center -15px;
  box-shadow: inset 0px 0px 28px 1px rgba(0,0,0,0.80);
}

.caatingaCardLock{
  background-image: url(../src/assets/caatingaLocked.png)
}
.caatingaCardOpen{
  background-image: url(../src/assets/caatingaUnlocked.png)
}
.caatingaLkd{
  background-image: url(../src/assets/caatingaLocked.png);
  background-size: cover;  
  box-shadow: inset 0px 0px 28px 1px rgba(0,0,0,0.80);
}
.caatingaUld{
  background-image: url(../src/assets/caatingaUnlocked.png);
  background-size: cover;
  background-position: center -15px;
  box-shadow: inset 0px 0px 28px 1px rgba(0,0,0,0.80);
}

.amazoniaCardLock{
  background-image: url(../src/assets/amazoniaLocked.png)
}
.amazoniaCardOpen{
  background-image: url(../src/assets/amazoniaUnlocked.png)
}
.amazoniaLkd{
  background-image: url(../src/assets/amazoniaLocked.png);
  background-size: cover;  
  box-shadow: inset 0px 0px 28px 1px rgba(0,0,0,0.80);
}
.amazoniaUld{
  background-image: url(../src/assets/amazoniaUnlocked.png);
  background-size: cover;
  background-position: center -15px;
  box-shadow: inset 0px 0px 28px 1px rgba(0,0,0,0.80);
}

.pampaCardLock{
  background-image: url(../src/assets/pampaLocked.png)
}
.pampaCardOpen{
  background-image: url(../src/assets/pampaUnlocked.png)
}
.pampaLkd{
  background-image: url(../src/assets/pampaLocked.png);
  background-size: cover;  
  box-shadow: inset 0px 0px 28px 1px rgba(0,0,0,0.80);
}
.pampaUld{
  background-image: url(../src/assets/pampaUnlocked.png);
  background-size: cover;
  background-position: center -15px;
  box-shadow: inset 0px 0px 28px 1px rgba(0,0,0,0.80);
}

.mtatlanticaCardLock{
  background-image: url(../src/assets/mtatlanticaLocked.png)
}
.mtatlanticaCardOpen{
  background-image: url(../src/assets/mtatlanticaUnlocked.png)
}
.mtatlanticaLkd{
  background-image: url(../src/assets/mtatlanticaLocked.png);
  background-size: cover;  
  box-shadow: inset 0px 0px 28px 1px rgba(0,0,0,0.80);
}
.mtatlanticaUld{
  background-image: url(../src/assets/mtatlanticaUnlocked.png);
  background-size: cover;
  background-position: center -15px;
  box-shadow: inset 0px 0px 28px 1px rgba(0,0,0,0.80);
}

.cerradoCardLock{
  background-image: url(../src/assets/cerradoLocked.png)
}
.cerradoCardOpen{
  background-image: url(../src/assets/cerradoUnlocked.png)
}
.cerradoLkd{
  background-image: url(../src/assets/cerradoLocked.png);
  background-size: cover;  
  box-shadow: inset 0px 0px 28px 1px rgba(0,0,0,0.80);
}
.cerradoUld{
  background-image: url(../src/assets/cerradoUnlocked.png);
  background-size: cover;
  background-position: center -15px;
  box-shadow: inset 0px 0px 28px 1px rgba(0,0,0,0.80);
}